* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    padding: 20px;
    font-size: 2em;
}

.login-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#app-name, #form-div {
    width: 50vw;
    height: 100vh;
    text-align: center;
}

#app-name * {
    margin-top: 40vh;
    color: #fffff0;
}

#app-name { 
    /* 004080  FFD700*/
    background-color: #FA8072;
    width: 50vw;
    height: 100vh;
}

#form-div {
    background-color: #fffff0;
}

#input-fields {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 25vh;
    align-items: center;
    
}

input {
    min-width: 200px;
    max-width: 400px;
    width: 40vw;
    font-size: large;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: #FA8072 solid 2px;   
}

button {
    width: 100px;
    min-width: 100px;
    max-width: 423px;
    font-size: large;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: #FA8072 solid 2px; 
    transition: box-shadow 2s, width 0.5s, color 1s;
}

button:active {
    transform: translateY(1px) translateX(1px);
  }